{% extends "store/base.html" %}

{% block title %}Инструменты{% endblock %}

{% block content %}
    <h1>Инструменты. список всех инструментов.</h1>
        {% for tool in tools %}
            <h2>
            <a href="{{ tool.get_absolute_url }}">
                {{ tool.code }}:{{ tool.name }}
            </a>
            </h2>
            <p class="tags">Tags: {{ tool.tags.all|join:", " }}</p>
            <p class="date">
                Created {{ tool.created }}
            </p>
            {{ tool.body|truncatewords:30|linebreaks }}
        {% endfor %}
        {% include "pagination.html" with page=page_obj %}
{% endblock %}